.c-4{
    background-color:#781649 !important;
    color:#FFFFFF !important;
}

.color-bg-1{
    background-color:#FFFFFF !important;
}
.color-bg-2{
    background-color:#A7CA84 !important;
}
.color-bg-3{
    background-color:#78AE40 !important;
}
.color-bg-4{
    --background-color:#781649 !important;
    background-color:#375B5F !important;
}
.color-bg-5{
    background-color:#000000 !important;
}

.color-1{
    color:#FFFFFF;
}
.color-2{
    color:#A7CA84;
}
.color-3{
    color:#78AE40;
}
.color-4{
    color:#375B5F;
}
.color-5{
    color:#000000;
}

.c-white{
    color:#FFFFFF;
}
.c-black{
    color:#000000;
}

.bg-green-dark{
    background:#1DE9B6;
}
.bg-green-light{
    background:#B9F6CA;
}
.bg-red-dark{
    background:#FF5252;
}
.bg-red-light{
    background:#FF8A80;
}
.bg-blue-dark{
    background:#03A9F4;
}
.bg-blue-light{
    background:#84FFFF;
}
.bg-yellow-dark{
    background:#FFEB3B;
}
.bg-yellow-light{
    background:#FFFF8D;
}
.bg-purple-dark{
    background:#7E57C2;
}
.bg-purple-light{
    background:#B388FF;
}
.bg-grey-dark{
    background:#999999;
}
.bg-grey-light{
    background:#F5F5F5;
}

.color-color-1{
    border:1px solid #FFFFFF;;
}
.border-color-2{
    border:1px solid #A7CA84;
}
.border-color-3{
    border:1px solid #78AE40;
}
.border-color-4{
    border:1px solid #375B5F;
}
.border-color-5{
    border:1px solid #000000;
}