
<md-content class="p-5 scrollable" ng-if="printMode" id="divPrint">

    <div class="row" >
        <div class="col-xs-12">
            <div class="row m-v-10 border-styled">
                <div class="col-xs-5 m-h-10 m-v-5 pull-left">
                    <span class="bold">Prova : </span>
                    <span class="">{{printData.description}}</span>
                </div>
                <div class="col-xs-5 m-h-10 m-v-5 pull-right">
                    <span class="bold">Valor : </span>
                    <span class="">{{printData.points}} pontos</span>
                </div>
                <div class="col-xs-5 m-h-10 m-v-5" ng-repeat="itemHeader in printData.header" ng-class="$odd ? 'pull-right' : 'pull-left'">
                    <span class=" bold">{{itemHeader.description}} : </span>
                    <span class="">{{itemHeader.text}}</span>
                </div>
            </div>

            <div class="row m-v-20">
                <div class="col-xs-10 m-h-20 m-v-5">
                    <span class="bold">Nome do Aluno</span>
                </div>
                <div class="col-xs-10 m-l-30 m-v-5" style="border-bottom: 1px solid #000;">
                    &nbsp;
                </div>
            </div>


            <div class="row item-print border-styled" ng-repeat="item in printData.items" ng-if="item._id" ng-init="getItem($index)">
                <div class="col-xs-12 col-xs-offset-0 m-h-10" style="margin-top:35px;" >
                    <table style="width:100%;border-top:0px;padding:10px">
                        <tr>
                            <td style="width:30px;border:0;">{{$index+1}} )</td>
                            <td style="vertical-align:middle;border:0;" ng-bind-html="item.text"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-xs-offset-0 m-h-10" ng-repeat="alternative in item.alternatives">
                    <table style="width:100%;border:0;padding:10px">
                        <tr style="border:0;">
                            <td style="width:30px;vertical-align:middle;border:0;">{{arrAlternativeIndex[$index]}} ) </td>
                            <td style="vertical-align:middle;border:0;" ng-bind-html="alternative.text"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row m-t-20" id="printCommands">

                <div class="col-xs-12 col-xs-offset-0">
                    <md-button class="md-theme-green pull-right m-h-10" tabindex="-1" aria-label="Button" ng-click="printDiv()">
                        <button class="md-button-inner">Imprimir</button>
                    </md-button>
                    <md-button class="md-theme-red pull-right m-h-10" tabindex="-1" aria-label="Button" ng-click="loadData()">
                        <button class="md-button-inner">Cancelar</button>
                    </md-button>
                </div>
            </div>

        </div>
    </div>

</md-content>
