<div class="row" layout-align="start center" layout="horizontal" layout-padding>
    <div class="col-xs-2 col-sm-2">
        <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/student-icon.png" class="color-bg-1 img-circle img-responsive ">
    </div>
    <div class="col-xs-4 col-sm-3 bold" layout-align="start center" layout="horizontal">
        <div class="color-1 s-100 visible-xs" layout-align="start center" layout="vertical">
           Marcela M K
        </div>
        <div class="color-1 s-130 hidden-xs" layout-align="start center" layout="vertical">
            Marcela M K
        </div>
    </div>
    <div class="col-sm-1 hidden-xs" layout-align="center center" layout="horizontal">
        <span class="color-1 glyphicon glyphicon-chevron-up visible-sm"></span>
    </div>
    <div class="col-xs-2 col-sm-2">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/p160x160/10660250_834231393288580_3856488948067201848_n.png?oh=41ddf51f09226491bb232203aa3722a8&oe=548F1E3C&__gda__=1419828405_3e50cbdd4092654d781da25c05d3f4f0" class="img-responsive" >
    </div>
    <div class="col-xs-4 col-sm-3 bold" layout-align="start center" layout="horizontal">
        <div class="color-1 s-100 visible-xs">
            3º Ano - Tarde
        </div>
        <div class="color-1 s-130 hidden-xs">
            3º Ano - Tarde
        </div>
    </div>
    <div class="col-sm-1 hidden-xs" layout-align="center center" layout="horizontal">
        <span class="color-1 glyphicon glyphicon-chevron-up visible-sm"></span>
    </div>
</div>