<div layout="horizontal" flex>
    <div class="col-xs-3 col-lg-1" layout="vertical" layout-align="center start">
        <img src="http://prova.sgp.starlinetecnologia.com.br/images/sgp_logo_toolbar.png" class="img-responsive m-t-10 m-h-10"/>
    </div>
    <div class="col-xs-6 col-lg-10 s-150" layout="vertical" layout-align="center center" >
        <label >Menu Principal</label>
    </div>
    <div class="col-xs-3 col-lg-1" layout="vertical" layout-align="center end">

        <material-button class="material-button-fab color-bg-4 c-white m-v-10" tabindex="-1" aria-label="">
            <button class="material-button-inner">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <div class="material-ripple-container"></div>
        </material-button>
    </div>
</div>