<div class="md-whiteframe-z2 color-bg-1 col-xs-10 col-sm-6 col-md-4 col-lg-3 text-center">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 text-center m-t-15">
            <img src="http://prova.sgp.starlinetecnologia.com.br/images/sgp_logo_toolbar.png" class="img-responsive"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 m-v-15">
            <md-input-group  class="md-input-group-theme-green s-150 fill-horizontal text-left">
                <label for="formData.email"  class="fill-horizontal text-left">Login</label>
                <md-input id="formData.email" type="text" ng-model="formData.email" class="fill-horizontal text-left"/>
            </md-input-group>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 m-v-15">
            <md-input-group  class="md-input-group-theme-green s-150 fill-horizontal text-left">
                <label for="formData.password" class="fill-horizontal text-left">Senha</label>
                <md-input id="formData.password" type="password" ng-model="formData.password" class="fill-horizontal text-left"/>
            </md-input-group>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 m-v-15">
            <md-button class="md-button-raised md-button-colored s-110 color-bg-4 col-xs-12 col-sm-6 col-sm-offset-6" tabindex="-1" aria-label="Entrar" ng-click="checkLogin()">
                <button class="md-button-inner m-v-5" >Entrar</button>
                <div class="md-ripple-container"></div>
            </md-button>
        </div>
    </div>
</div>
