<div class="row p-v-5 p-h-20 m-h-10 m-b-10">
    <div class="col-xs-offset-0 col-xs-12 md-whiteframe-z2 p-0">
        <md-toolbar class="md-theme-dark color-bg-4 p-0">
            <h2 class="md-toolbar-tools" ng-if="!editMode">
                <md-button ui-sref="home" class="md-button-fab color-bg-4 color-1 m-v-10 pull-left" style="width:38px;height:38px" tabindex="-1" aria-label="">
                    <button class="md-button-inner">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                    <div class="md-ripple-container"></div>
                </md-button>
                <span>Turmas Cadastradas</span>
            </h2>
            <h2 class="md-toolbar-tools" ng-if="editMode">
                <md-button ng-click="loadData()" class="md-button-fab color-bg-4 color-1 m-v-10 pull-left" style="width:38px;height:38px" tabindex="-1" aria-label="">
                    <button class="md-button-inner">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                    <div class="md-ripple-container"></div>
                </md-button>
                <span>Cadastro de Turma</span>
            </h2>
        </md-toolbar>

        <md-content class="p-5 scrollable" ng-show="editMode && !loadingContent">

            <div class="row m-v-20 m-h-10" >
                <div class="col-xs-12">

                    <md-divider class="m-t-20 p-5 md-whiteframe-z1">
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="m-10 m-t-10 s-130">Dados da Turma</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-0 m-h-10">
                                <md-input-group  class="md-input-group-theme-green s-130 fill-horizontal text-left">
                                    <label for="description"  class="fill-horizontal text-left">Descrição</label>
                                    <md-input id="description" type="text" ng-model="description" class="fill-horizontal text-left"/>
                                </md-input-group>
                            </div>
                        </div>
                    </md-divider>



                    <div class="row m-t-20">

                        <div class="col-xs-12 col-xs-offset-0">
                            <md-button class="md-theme-green pull-right m-h-10" tabindex="-1" aria-label="Button" ng-click="save()">
                                <button class="md-button-inner">Salvar</button>
                            </md-button>
                            <md-button class="md-theme-red pull-right m-h-10" tabindex="-1" aria-label="Button" ng-click="loadData()">
                                <button class="md-button-inner">Cancelar</button>
                            </md-button>
                        </div>
                    </div>

                </div>
            </div>

        </md-content>
        <md-content class="p-5 scrollable" ng-show="!editMode && !loadingContent">
            <div class="row m-v-10">
                <div class="col-xs-5 pull-left" style="height:60px;" layout="vertical" layout-align="center center">
                    <md-input-group  class="md-input-group-theme-green s-130 text-left fill-horizontal" style="margin: 0 0 0 45px !important;">
                        <label class="fill-horizontal text-left">Pesquisar</label>
                        <md-input  type="text" ng-model="search" class="fill-horizontal text-left"/>
                    </md-input-group>
                </div>
                <div class="col-xs-7  pull-right" style="height:60px;" layout="vertical" layout-align="center end">
                    <md-button class="md-theme-green pull-right m-h-10" tabindex="-1" aria-label="Button" ng-click="edit()">
                        <button class="md-button-inner">Nova Turma</button>
                    </md-button>
                    <md-button class="md-theme-red pull-right" tabindex="-1" aria-label="Button" style="display:none;">
                        <button class="md-button-inner">Excluir Selecionados</button>

                    </md-button>
                </div>
            </div>

            <md-item ng-repeat="(key,item) in dataSource" class="ng-scope" role="listitem">
                <md-item-content class="row p-h-20" style="min-height: 100px;">
                    <div class="md-tile-left col-xs-2 col-lg-1">
                        <md-checkbox ng-model="isChecked" aria-label="Finished?">

                        </md-checkbox>
                    </div>
                    <div class="col-xs-6 col-lg-7 md-tile-content" layout="vertical" layout-align="center start">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="ng-binding m-h-10 s-150 searchable" ng-if="item.description!=''">{{item.description}}</h4>
                              <h4 class="ng-binding m-h-10 s-150 searchable" ng-if="item.description==''">[Sem Nome]</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-1" layout="vertical" layout-align="center center">
                        <stl-fab id="'fabEdit'+$index"
                                 iconclass="'glyphicon glyphicon-pencil'"
                                 tooltip="'Editar'"
                                 css="'md-button-fab bg-blue-dark c-white m-v-10 m-h-10'"
                                 ng-click="edit(item)">
                        </stl-fab>
                    </div>
                    <div class="col-xs-1 col-lg-1 glyphicon-com" layout="vertical" layout-align="center center">
                        <stl-fab id="'fabItems'+$index"
                                 iconclass="'glyphicon glyphicon-sort-by-alphabet'"
                                 tooltip="'Alunos'"
                                 css="'md-button-fab bg-purple-dark c-white m-v-10 m-h-10'"
                                 ng-click="viewStudents(item)">
                        </stl-fab>
                    </div>

                </md-item-content>
                <md-divider inset=""></md-divider>
            </md-item>
            <div ng-if="dataSource.length==0" ng-show="!editMode" layout="vertical" layout-align="center center" style="height:400px">

                <h3 class="ng-binding">Não existem Turmas cadastradas</h4>

            </div>
        </md-content>
        <md-content class="p-5 scrollable" ng-show="loadingContent">
            <div layout="vertical" layout-align="center center" style="height:400px">

                <div ng-include src="'views/loading-app.html'" layout="vertical" class="fill" layout-align="center center" >

                </div>

            </div>
        </md-content>

    </div>
</div>
